__pycache__
*.py[cod]
*$py.class
.DS_Store

venv
env/
.venv
.env/
plots
logs
*.png
*.mp4

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

htmlcov/
.tox/
.pytest_cache/
.coverage

.env
.env.local

.vscode/
.idea/
*.swp

*.h5
*.csv
